body {
    margin: 0px;
    background: aqua;
}

/* ヘッダー部分 */
#header_body {
    color: white;
    background: #333333;
    width: 100%;
    padding-top: 10px;
}

/* ヘッダーの見出しのタグ */
#header_body h2 {
    text-align: center;
    margin: 0 auto;
}

#header_body #nav_menu_body {
    height: 30px;
    margin: 0;
    background: rgb(100, 100, 100);
    list-style: none;
}

.nav_right_position_item {
    float: right;
    border: rgb(200, 200, 200) 2px solid;
    background: rgb(180, 180, 180);
}

/* トップ画面用のCSS */
#contens_site {
    background: yellow;
    width: 100%;
    overflow: hidden;
}

#contens_body {
    background: gray;
    float: left;
    width: 80%;
}

#contens_body > #contens_title {
    text-align: center
}

#side_menu_body {
    background: blue;
    overflow: hidden;
    width: 20%;
    text-align: center;
}

#side_menu_body .input_form_body {
    background: #fffcf5;
}

#footer_body {
    background: #333333;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 12px;
}

#panel_list {
    background: #555;
    margin-left: 60px;
    margin-right: 60px;
    overflow: hidden;
}

#panel_list > .panel {
    float: left;
    margin: 10px;
    background: #333333;
    color: white;
}

.panel > .panel_title {
    margin: 0 auto;
}

#pageing {
    overflow: hidden;
    text-align: center;
}

/* アカウント作成用CSS */
#account_input_menu {
    border: double 5px #4ec4d3;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;
    text-align: center;
    font-size: 17px;
}

/* アカウント入力項目をきれいにする */
#account_input_menu dl.form dl,dt,dd {
    margin: 0;
    padding: 0;
}
 
#account_input_menu dl.form{
    background: #cccce6;
    border: 1px solid #7777bb;
    width: 100%;
}

#account_input_menu dl.form dt,dd {
    padding: 6px;
}
 
#account_input_menu dl.form dd {
    background: #f0f0f0;
}

#account_input_menu input{
    max-width:99%;
    width: 80%;
}

#account_input_menu textarea{
    max-width:99%;
}

/* アカウント作成ボタン */
#account_input_menu .button_item {
    margin: 0 auto;
}

#account_input_menu .button_create_push {
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00;/*線色*/
    margin: 0 auto;
    width: 100%;
}
