#main {
    margin: 100px auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

ul.menu li {
    float: left;
    /* 親ボックスを基準として相対位置*/
    position: relative;
    margin: 0 0 0 1px;
    padding: 5px;
    width: 200px;
    background: #555555;
    display: block;
}

ul.sub {
    display: none;
    /* Menuボックスを基準とした絶対位置*/
    position: absolute;
    padding: 0;
    margin-left: -6px;
}

ul.sub li span {
    padding: 5px 10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    display: block;
    color: #fff;
}

ul.sub li span:hover {
    background: #ff9900;
    text-decoration: none;
}